{% extends 'base.html.twig' %}

{% block title %}En savoir plus!{% endblock %}

{% block body %}
    <style>
        .smoothie{
            border-radius: 35% 10% 10% 0% / 100% 10% 10% 0%  ;
        }
        .text{
            line-height: 1.7em;
            font-size: 1.5em;
        }
    </style>
<h1 class="title m-6">A propos de moi!</h1>

<div class="block">
    <div class="container">
        <div class="columns">
            <div class="column is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <p class="subtitle is-italic text p-2 is-size-5-mobile">Avant tout, mon objectif est d'améliorer le mode de vie global des personnes que je conseille. Pas de régimes stricts à taille unique qui vous privent du
                    plaisir de manger. Le plaisir de manger est la clé d'une gestion nutritionnelle réussie. Cuisiner un repas équilibré ne doit pas être une corvée.
                    Quelques conseils précis et faciles à mettre en œuvre suffisent souvent. En plus de ces conseils, nous avons également ajouté des recettes faciles à
                    préparer et délicieuses.
                </p>
                <div class="container is-fluid is-flex is-justify-content-flex-end">
                    <h2 class="">Sandrine Coupart</h2>
                </div>
                <a class="button is-primary is-large is-rounded is-size-4-mobile" href="{{ path('app_recettes') }}">Voir mes recettes</a>
            </div>
            <div class="column">
                <img class="smoothie" src="{{ asset('img/smoothie.jpg') }}"></img>
            </div>
        </div>
    </div>
</div>
{% endblock %}
