<h1>Bienvuenue {{ user.name }} {{ user.firstname }}! <br> Veuillez confirmer votre adresse e-mail!</h1>

<p>
    Pour cela il vous suffit de cliquer sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
